@media (max-width: 1630px) {

  /* Home */
  .welcome-bottom span:nth-child(1) {
    left: -1106px;
  }

  .welcome-bottom span:nth-child(2) {
    right: 1112px;
  }

  .home-heading {
    left: 350px;
  }

  .home-heading span {
    font-size: 145px;
  }

  .home-heading span:nth-child(3) {
    font-size: 90px;
  }

  /* about */
  .item h2 {
    margin: 0;
    font-size: 59px;
  }

  .item h3 {
    font-size: 35px;
    margin-bottom: 35px;
  }

  .item h3::before {
    font-size: 104px;
    top: 96px;
    left: -54px;
  }

  .item p {
    font-size: 16px;
    margin-top: 17px;
  }

  /* project */
  .view-project {
    font-size: 11px;
    width: 196px;
    padding: 7px;
  }

  .btn {
    left: -32px;
    bottom: 239px;
  }

  .btn label:before {
    width: 24px;
    height: 24px;
  }

  .btn label {
    width: 10px;
    height: 10px;
  }

  /* project-detail */
  .hiring-main.project-main1 .hiring-heading h1,
  .hiring-main.project-main1 .hiring-heading h1,
  .hiring-main.project-main2 .hiring-heading h1,
  .hiring-main.project-main3 .hiring-heading h1 {
    font-size: 52px;
  }

  .photo img {
    width: 95%;
  }

  .center-child {
    top: 30%;
  }

  .center-child h2 {
    font-size: 29px;
  }

  .center-child p {
    font-size: 18px;
  }

  .center-child ol li {
    font-size: 12px;
  }

  /* plan */
  .plan-heading h2 {
    font-size: 35px;
  }

  .plan-heading p {
    font-size: 15px;
  }

  .history-slider div p {
    font-size: 13px;
  }

  /* hiring */
  .hiring-heading h1 {
    font-size: 52px;
  }

  .hiring-slogan p::before {
    left: -63px;
  }
}

@media (max-width: 1520px) {

  /* plan */
  .plan-heading h2 {
    font-size: 30px;
  }

  .plan-heading p {
    font-size: 13px;
  }

  .history-slider div p {
    font-size: 12px;
  }

  .plan-photo img {
    width: 390px;
    height: 263px;
  }

  /* skill */
  .feature {
    width: 76%;
    position: absolute;
    top: 50%;
    left: 56%;
  }

  /* hiring */
  .hiring-heading h1 {
    font-size: 47px;
  }

  .hiring-slogan p {
    font-size: 29px;
  }

  .hiring-slogan b {
    padding-left: 1179px;
  }
}

@media (max-width: 1330px) {

  /* skill */
  .feature {
    width: 95%;
    position: absolute;
    top: 50%;
    left: 56%;
  }

  .skill-front strong {
    font-size: 56px;
  }

  .skill-front h2,
  .service-item h3,
  .back h3 {
    font-size: 29px;
  }

  .service-item {
    margin-bottom: 52px;
  }

  /* hiring */
  .hiring-slogan p {
    font-size: 25px;
  }

  .hiring-slogan p::before {
    left: -23px;
    top: -54px;
    font-size: 150px;
  }

  .hiring-slogan b {
    padding-left: 1040px;
  }

}

@media (max-width: 1290px) {

  /* Home */
  .home-inner {
    height: 100vh;
  }

  .home-heading {
    left: 250px;
  }

  .home-heading span {
    font-size: 130px;
  }

  .home-heading span:nth-child(3) {
    font-size: 83px;
  }

  .welcome-text {
    transform: translate(-50%, -50%) scale(0.7);
    width: 70%;
  }

  .welcome-text span {
    font-size: 50px;
  }

  .welcome-top span {
    font-size: 30px;
  }

  .welcome-top span:nth-child(1) {
    left: -753px;
  }

  .welcome-top span:nth-child(2) {
    width: 514px;
  }

  .welcome-bottom span:nth-child(1) {
    left: -893px;
  }

  .welcome-bottom span:nth-child(2) {
    right: 898px;
  }

  /* about */
  .item h2 {
    margin: 0;
    font-size: 50px;
  }

  .item h3 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .item h3::before {
    font-size: 95px;
    top: 81px;
    left: -47px;
  }

  .item p {
    font-size: 14px;
    margin-top: 15px;
  }


  /* project */
  .project-info p {
    font-size: 13px;
  }

  .project-info ul li {
    font-size: 14px;
  }

  .btn {
    left: -9px;
    bottom: 264px;
  }

  .btn label {
    width: 10px;
    height: 10px;
  }

  .btn label:before {
    width: 20px;
    height: 20px;
    left: -5px;
    top: -5px;
  }

  /* project-detail */
  .hiring-main.project-main1 .hiring-heading h1,
  .hiring-main.project-main1 .hiring-heading h1,
  .hiring-main.project-main2 .hiring-heading h1,
  .hiring-main.project-main3 .hiring-heading h1 {
    font-size: 42px;
  }

  .photo img {
    width: 95%;
  }

  .hiring-main.project-main1,
  .hiring-main.project-main2,
  .hiring-main.project-main3 {
    height: 94vh;
  }

  .center-child p {
    font-size: 15px;
  }

  .center-child h2 {
    font-size: 25px;
  }

  .hiring-info>div {
    height: 633px;
  }

  .center-child-mobile h2 {
    font-size: 30px;
  }

  .center-child-mobile {
    top: 39%;
    left: 45%;
  }

  .center-child-mobile p {
    font-size: 15px;
  }

  /* plan */
  .plan-heading h2 {
    font-size: 35px;
  }

  .plan-heading p {
    font-size: 15px;
  }

  .plan-heading {
    width: 94%;
    padding-right: 35px;
  }

  .history-slider div p {
    font-size: 13px;
  }

  .plan-photo img {
    display: none;
  }

  hr.bar {
    margin: 28px auto;
  }

  .history-slider div h4 {
    font-size: 17px;
  }

  .history-slider div p {
    font-size: 11px;
  }

  .slick-dots {
    bottom: -56px;
  }


  /* skill */
  .feature {
    width: 99%;
    top: 51%;
    left: 57%;
  }

  /* hiring */
  .hiring-heading h1 {
    font-size: 40px;
  }
}


@media (max-width: 1200px) {
  hr.bar {
    margin: 17px auto;
  }

  .project-info h3 {
    font-size: 17px;
  }

  /* skill */
  .skill-front strong {
    font-size: 49px;
  }

  .skill-front h2,
  .service-item h3,
  .back h3 {
    font-size: 26px;
  }

  .feature {
    width: 104%;
  }

  .service-item h3,
  .back h3 {
    margin: -12px;
  }

  /* hiring */
  .hiring-heading h1 {
    font-size: 35px;
  }

  .hiring-slogan p {
    font-size: 22px;
  }

  .hiring-slogan b {
    padding-left: 892px;
  }

  .sns a {
    margin: 7px;
  }
}

@media (max-width: 1024px) {

  /* Home */
  .home-inner {
    height: 90vh;
  }

  .home-heading {
    left: 190px;
  }

  .home-heading span {
    font-size: 100px;
  }

  .home-heading span:nth-child(2) {
    font-size: 73px;
  }

  .home-heading span:nth-child(3) {
    font-size: 68px;
  }

  .welcome-text {
    transform: translate(-50%, -50%) scale(0.7);
    width: 50%;
  }

  .welcome-text span {
    font-size: 30px;
  }

  .welcome-top span,
  .welcome-bottom span {
    font-size: 25px;
  }

  .welcome-top span:nth-child(1) {
    left: -569px;
    top: -64px;
  }

  .welcome-top span:nth-child(2) {
    width: 405px;
  }

  .welcome-bottom span:nth-child(1) {
    left: -682px;
  }

  .welcome-bottom span:nth-child(2) {
    right: 689px;
    top: 23px;
  }

  /* about */
  .item h2 {
    margin: 0;
    font-size: 44px;
  }

  .item h3 {
    font-size: 26px;
    margin-bottom: 27px
  }

  .item h3::before {
    font-size: 87px;
    top: 71px;
    left: -44px;
  }

  .item p {
    font-size: 12px;
    margin-top: 14px;
  }


  /* project */
  .project-info h3 {
    font-size: 18px;
  }

  .project-info p {
    font-size: 11px;
  }

  .project-info ul li {
    font-size: 12px;
  }

  .view-project {
    font-size: 10px;
    width: 130px;
  }

  .btn {
    left: 20px;
    bottom: 284px;
  }

  .btn label {
    width: 8px;
    height: 8px;
  }

  .btn label:before {
    width: 18px;
    height: 18px;
    left: -5px;
    top: -5px;
  }

  /* project-detail */
  .hiring-main.project-main1 .hiring-heading h1,
  .hiring-main.project-main1 .hiring-heading h1,
  .hiring-main.project-main2 .hiring-heading h1,
  .hiring-main.project-main3 .hiring-heading h1 {
    font-size: 32px;
  }

  .photo img {
    width: 90%;
  }

  .hiring-main.project-main1,
  .hiring-main.project-main2,
  .hiring-main.project-main3 {
    height: 90vh;
  }

  .photo.project-info {
    padding-top: 89px;
  }

  .hiring-info>div {
    height: 656px;
  }

  .center-child {
    top: 24%;
  }

  .center-child p {
    font-size: 13px;
  }

  .center-child h2 {
    font-size: 20px;
  }

  .center-child ol li {
    font-size: 9px;
  }

  .center-child-mobile h2 {
    font-size: 24px;
  }

  .center-child-mobile p {
    font-size: 12px;
  }

  .center-child-mobile {
    top: 30%;
  }

  /* plan */
  .plan-heading h2 {
    font-size: 35px;
  }

  .plan-heading p {
    font-size: 15px;
  }

  .plan-heading {
    width: 94%;
    padding-right: 35px;
  }

  .history-slider div p {
    font-size: 13px;
  }

  .plan-photo img {
    display: none;
  }

  hr.bar {
    margin: 28px auto;
  }

  .history-slider div h4 {
    font-size: 17px;
  }

  .history-slider div p {
    font-size: 11px;
  }

  .slick-dots {
    bottom: -56px;
  }

  /* skill */
  .feature {
    width: 109%;
    top: 53%;
    left: 60%;
  }

  .skill-logo {
    margin: 5px;
  }

  .skill-logo img {
    width: 94px;
    height: 93px;
  }


  /* hiring */
  .hiring-heading h1 {
    font-size: 32px;
  }

  .hiring-slogan p {
    font-size: 18px;
  }

  .hiring-slogan b {
    padding-left: 692px;
  }

  .sns a {
    margin: 2px;
  }
}

@media (max-width: 960px) {

  /* Home */
  .home-inner {
    height: 90vh;
  }

  .home-heading {
    left: 150px;
  }

  .home-heading span {
    font-size: 80px;
  }

  .home-heading span:nth-child(2) {
    font-size: 63px;
  }

  .home-heading span:nth-child(3) {
    font-size: 58px;
  }

  .welcome-text {
    transform: translate(-50%, -50%) scale(0.7);
    width: 50%;
  }

  .welcome-text span {
    font-size: 25px;
  }

  .welcome-top span,
  .welcome-bottom span {
    font-size: 22px;
  }

  .welcome-top span:nth-child(1) {
    left: -529px;
    top: -64px;
  }

  .welcome-top span:nth-child(2) {
    width: 405px;
  }

  .welcome-bottom span:nth-child(1) {
    left: -682px;
  }

  .welcome-bottom span:nth-child(2) {
    right: 689px;
    top: 23px;
  }

  /* about */
  .item h2 {
    margin: 0;
    font-size: 44px;
  }

  .item h3 {
    font-size: 24px;
    margin-bottom: 27px
  }

  .item h3::before {
    font-size: 81px;
    top: 68px;
    left: -38px;
  }

  .item p {
    font-size: 10px;
    margin-top: 14px;
  }


  /* project */
  .project-info ul li {
    font-size: 10px;
  }

  .btn {
    left: 10px;
    bottom: 324px;
  }

  .btn label {
    width: 6px;
    height: 6px;
    margin: 13px;
  }

  .btn label:before {
    width: 16px;
    height: 16px;
    left: -5px;
    top: -5px;
  }

  /* project-detail */
  .hiring-main.project-main1 .hiring-heading h1,
  .hiring-main.project-main1 .hiring-heading h1,
  .hiring-main.project-main2 .hiring-heading h1,
  .hiring-main.project-main3 .hiring-heading h1 {
    font-size: 22px;
  }

  .photo img {
    width: 90%;
  }

  .hiring-main.project-main1,
  .hiring-main.project-main2,
  .hiring-main.project-main3 {
    height: 85vh;
  }

  .photo.project-info {
    padding-top: 85px;
  }

  .project-info h3 {
    font-size: 14px;
  }

  .project-info ul li {
    font-size: 13px;
  }

  .hiring-info>div {
    height: 599px;
  }

  .center-child {
    top: 23%;
    left: 42%;
  }

  .center-child h2 {
    font-size: 13px;
  }

  .center-child p {
    font-size: 11px;
  }

  .center-child ol li {
    font-size: 8px;
  }

  .center-child-mobile h2 {
    font-size: 18px;
  }

  .center-child-mobile p {
    font-size: 11px;
  }

  /* plan */
  .history-slider div p {
    font-size: 10px;
  }

  /* skill */
  .feature {
    width: 110%;
    top: 49%;
    left: 60%;
  }

  .skill-logo img {
    width: 85px;
    height: 83px;
  }

  .skill-logo p {
    font-size: 14px;
  }

  .skill-logo {
    padding: 5px;
  }

  /* hiring */
  .hiring-heading h1 {
    font-size: 29px;
  }

}

@media (max-width: 768px) {

  /*html {
    scroll-behavior: smooth;
  }*/
  /* Entire Layout */
  .cd-section {
    height: auto;
  }

  .cd-section>div {
    height: auto;
  }

  .content {
    position: static;
    width: 100%;
    height: 100%;
  }

  /* Header */
  header {
    transition: 0.5s;
    z-index: 100;
  }

  header.active {
    background-color: #fff;
    border-bottom: 1px solid #eee;
  }

  .menu {
    display: block;
    line-height: 40px;
    margin-top: 60px;
  }

  .menu a {
    position: static;
    width: 100%;
    text-align: right;
    display: block;
    padding-right: 20px;
    color: #000;
    font-size: 20px;
  }

  .menu a::after {
    position: static;
  }

  .slogan {
    display: none;
  }

  .gnb {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -270px;
    width: 250px;
    height: 100vh;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
  }

  .gnb.active {
    right: 0;
  }

  /* Trigger */
  .trigger {
    display: block;
    width: 24px;
    height: 14px;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .trigger span {
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #000;
    transition: 0.5s;
  }

  .trigger span:nth-child(1) {
    top: 0;
  }

  .trigger span:nth-child(2) {
    top: 50%;
    width: 80%;
  }

  .trigger span:nth-child(3) {
    top: 100%;
  }

  .trigger.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }

  .trigger.active span:nth-child(2) {
    top: 50%;
    width: 80%;
    opacity: 0;
  }

  .trigger.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
  }

  /* Gototop */
  .gototop {
    position: fixed;
    bottom: 20px;
    left: 20px;
    border: 1px solid #fff;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    transform: translateY(30px);
    opacity: 0;
    transition: 0.5s;
  }

  .gototop.active {
    opacity: 1;
    transform: translateY(0);
  }

  .btn-hiring {
    right: 20px;
    bottom: 20px;
  }

  .cd-vertical-nav {
    display: none;
  }

  /* Show Hide Section */
  /* #home,
  #about,
  #project,
  #plan,
  #manage,
  #skill,
  #contact {
    display: none;
  } */

  /* ################# Section : Home ################ */
  .home-inner {
    height: 100vh;
  }

  .welcome-text {
    transform: translate(-50%, -50%) scale(0.7);
    width: 100%;
  }

  .welcome-top {
    display: none;
  }

  .welcome-bottom {
    display: none;
  }

  .home-heading {
    left: 20px;
  }

  .home-heading span {
    font-size: 80px;
  }

  .home-heading span:nth-child(2) {
    font-size: 50px;
  }

  .home-heading span:nth-child(3) {
    font-size: 50px;
  }

  /* ################# Section : about  ################# */
  .about-inner {
    height: auto;
    padding: 40px;
    background: #000;
  }

  .about-items h2 {
    font-size: 35px;
  }

  .about-items {
    width: 100%;
    position: static;
    margin-left: 0;
    transform: none;
    text-align: center;
  }

  .item h3::before {
    content: ",,";
    font-family: "Overpass", sans-serif;
    font-size: 50px;
    /* position: absolute; */
    color: #ddd;
    /* transform: rotate(180deg); */
    top: 0px;
    /* left: -65px; */
  }

  .item h3 {
    font-size: 17px;
    text-align: left;
  }

  .item p {
    text-align: left;
    font-size: 14px;
  }


  /* ################# Section : plan  ##################*/
  .plan-inner {
    height: auto;
    padding: 30px;
  }

  .plan-feature {
    width: 100%;
    position: static;
    transform: none;
  }

  .plan-feature>div {
    height: auto;
  }

  .plan-info {
    margin-bottom: 30px;
  }

  .plan-info>div {
    float: none;
    width: 100%;
  }

  .plan-photo img {
    width: 100%;
    height: auto;
    margin-bottom: -30px;
  }

  .plan-heading {
    padding-right: 0;
    padding-bottom: -30px;
  }

  .plan-heading h2 {
    padding-top: 40px;
    font-size: 19px;
  }

  .history-slider div p {
    font-size: 13px;
  }

  /* ################# Section : manage  ################# */
  .manage-inner {
    height: auto;
  }

  .manage-inner>div {
    float: none;
    width: 100%;
    padding: 20px;
  }

  .about-heading,
  .manage-code img {
    position: static;
    transform: none;
    padding: 40px 20px;
  }

  .about-heading {
    width: 100%;
  }

  .about-heading h2 {
    font-size: 20px;
  }

  .manage-code {
    text-align: center;
  }

  /* ################# Section : skill  #################*/
  .skill-inner {
    width: auto;
    position: relative;
  }

  .feature {
    width: 100%;
    position: relative;
    transform: none;
    top: 0;
    left: 0;
  }

  .feature>div {
    float: none;
    width: 100%;
    padding-left: 40px;
  }

  .skill-front strong {
    font-size: 47px;
    margin-bottom: 40px;
    padding-top: 60px;
  }

  .skill-front,
  .service,
  .skill-api-back {
    width: 100%;
    text-align: center;
    padding-right: 25px;
    margin-bottom: -50px;
  }

  .skill-api-back {
    padding-bottom: 90px;
    margin-left: 0;
  }

  /* ##################### section : contact ################### */
  .contact-inner {
    width: auto;
  }

  .contact-featrue {
    width: 100%;
    position: static;
    transform: none;
  }

  .contact-featrue>div {
    float: none;
    width: 100%;
    padding: 35px;
  }

  .contact-form h3 {
    padding-top: 30px;
  }

  .contact-info {
    padding-bottom: 20px;
  }

  /* ############## Section : project  ##############*/
  .project-inner {
    width: auto;
    border: none;
  }

  .tab>div {
    float: none;
    width: 100%;
  }

  .view-project {
    width: 100%;
  }

  .project-info {
    padding: 20px;
  }

  .project-info h3 {
    font-size: 18px;
    padding-top: 30px;
  }

  .project-info p {
    position: relative;
  }

  .btn {
    width: 100%;
    bottom: -20px;
    left: 10px;
    padding-bottom: 20px;
  }

  .btn label {
    width: 10px;
    height: 10px;
  }

  .btn label:before {
    width: 23px;
    height: 23px;
    left: -6px;
    top: -6px;
  }

  /* ###################### SubPage : Hiring ###################### */
  .hiring-main {
    height: 300px;
  }

  .hiring-heading {
    width: 100%;
    top: 65%;
  }

  .hiring-heading h1 {
    font-size: 23px;
    margin-top: 20px;
  }

  .hiring-info {
    padding: 20px;
  }

  .hiring-info>div {
    float: none;
    width: 100%;
    height: auto;
  }

  .photo img {
    width: 98%;
    margin-top: 18px;
  }

  .center-child,
  .center-child-mobile,
  .center-child ol li {
    position: static;
    transform: none;
    width: 100%;
  }

  .center-child p {
    font-size: 15px;
  }

  .hiring-slogan {
    padding: 14px 0;
  }

  .hiring-slogan p,
  .hiring-slogan b {
    display: none;
  }

  .hiring-slogan p::before {
    top: -110px;
  }

  .hiring-contact ul {
    display: block;
    width: 100%;
  }

  .center-child h2,
  .center-child-mobile h2 {
    font-size: 22px;
  }

  .sns a {
    margin: 1px;
  }

  /* Faeatherlight Mobile CSS */
  .featherlight .featherlight-close-icon {
    font-size: 24px;
    right: 20px;
    top: 35px;
  }

  /* ###################### SubPage : project ###################### */
  .hiring-main.project-main1,
  .hiring-main.project-main2,
  .hiring-main.project-main3 {
    height: 70vh;
  }

  .hiring-main.project-main1 .hiring-heading h1,
  .hiring-main.project-main2 .hiring-heading h1,
  .hiring-main.project-main3 .hiring-heading h1 {
    font-size: 32px;
  }

  .photo.project-info {
    font-size: 19px;
  }

  .project-info ul li {
    font-size: 17px;
  }
}